<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Cec</title>
</head>
<body>
	<div id="bgDiv" align="center" th:bgcolor="${cec.cecColor}">
		<h1>Cec</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${cec}" method="post">
			
				<table border="0" cellpadding="10">
					<tr>
						<td>Cec ID:</td>
						<td><input type="text" th:field="*{id}" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<td>Name:</td>
						<td><input type="text" th:field="*{name}" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<td>Phone:</td>
						<td><input type="text" th:field="*{cecPhone}"
							readonly="readonly" /></td>
					</tr>
					<tr>
						<td>Message:</td>
						<td><input type="text" th:field="*{message}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Save</button></td>
					</tr>
				</table>
			</div>
		</form>
	
	<script type="text/javascript">
		document.body.style.backgroundColor = "#[[${cec.cecColor}]]";
	</script>
</body>
</html>