<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Cec Manager</title>
</head>
<body>
	<div align="center">
		<h1>Cec List</h1>
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Color</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cec : ${Cecs}">
					<td th:text="${cec.name}"></td>
					<td th:text="${cec.cecPhone}"></td>
					<td th:text="${cec.cecColor}"  th:bgcolor ="${cec.cecColor}"></td>
					<td><a th:href="@{'/edit/' + ${cec.id}}">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>